* {
    
    box-sizing: border-box;
    margin: 0;

}

body{
    background: #EFEFBB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Farro', sans-serif;
}

.formulario{
    width: 400px;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
    padding: 30px;
    box-shadow: 0 0 20px 1px rgba(61, 18, 87, 0.3);
    position: relative;
    border-radius: 10px;
}

.formulario_titulo{
    text-align: center;
    margin-top: 5%;
    color: rgba(100, 0, 0,9); /* color del titulo */
    font-size: 20px;
}

.formulario_input, .formulario_label, .formulario_submit{
    display: block;
    width: 100%;
    font-size: 1.0em; /* tañano de la letras*/
}

.formulario_input{
    padding: 20px;
    border-color: 1px solid rgba(60, 15, 87, 0.3);
    margin-bottom: 40px;
    background: rgba(135, 54, 151, 0.1);
}

.formulario_label:focus {
    outline: 1px solid rgba(52, 32, 141, 0.7);

}

.formulario_input:focus + .formulario_label {
    margin-top: -125px; /* el espacio que da la letra al subir de la caja*/
}

.formulario_label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(25, 8, 121, 0.5);
    transition: all 0.2s;

}

.formulario_submit{
    background: rgba(73, 4, 42, 0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.fijar{
    margin-top: -135px
    ;
}





